.news-section {
  background-color: var(--color_pure_400);
  padding: 124px 0 55px;
}
.news-section .news-title {
  margin-bottom: 24px;
  color: var(--color_green_500);
}
.news-section h1 {
  margin-bottom: 48px;
  color: var(--color_black);
}
.news-section .news-block {
  display: flex;
  height: 557px;
  border-radius: 20px;
  overflow: hidden;
  transition: var(--trans);
}
.news-section .news-block:active {
  transform: scale(0.9);
}
.news-section .news-block:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.news-section .news-block-photo {
  flex: 2;
}
.news-section .news-block-photo img {
  height: 100%;
  object-fit: cover;
}
.news-section .news-block-info {
  flex: 1;
  background-color: var(--color_white);
}
.news-section .news-block-info-container {
  padding: 40px;
}
.news-section .news-block-info-top {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
}
.news-section .news-block-info-top .date {
  color: rgba(16, 16, 16, 0.0509803922);
}
.news-section .news-block-info h4 {
  color: var(--color_black);
}

.tab-btn {
  transition: var(--trans);
  outline-offset: 2px;
  cursor: pointer;
}
.tab-btn:hover, .tab-btn:active {
  background-color: var(--color_black_10);
  border-color: rgba(16, 16, 16, 0.6);
  color: rgba(16, 16, 16, 0.6);
}
.tab-btn:active {
  transform: scale(0.97);
}
.tab-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}

.blogs-section {
  padding: 110px 0;
}
.blogs-section .blogs-container {
  display: flex;
}
.blogs-section .blogs-container .left {
  flex: 1;
  max-width: 416px;
}
.blogs-section .blogs-container .right {
  flex: 2;
  padding-left: 40px;
  position: relative;
}
.blogs-section .blogs-container .line-vertical {
  width: 1px;
  height: calc(100% - 40px);
  background-color: rgba(16, 16, 16, 0.2);
  margin-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.blogs-section .blogs-settings {
  padding-right: 40px;
}
.blogs-section .blogs-settings-top {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}
.blogs-section .blogs-settings-top button {
  display: none;
}
.blogs-section .blogs-settings form {
  width: 100%;
}
.blogs-section .blogs-settings form .search {
  position: relative;
}
.blogs-section .blogs-settings form .search input {
  padding: 10px 16px;
  border: 1px solid rgba(16, 16, 16, 0.0509803922);
  border-radius: 99px;
  color: var(--color_black);
  width: 100%;
  outline: none;
  transition: var(--trans);
  outline-offset: 2px;
}
.blogs-section .blogs-settings form .search input.keyboard-focus {
  outline: 1px solid var(--color_green_500);
}
.blogs-section .blogs-settings form .search input::placeholder {
  color: rgba(16, 16, 16, 0.5019607843);
}
.blogs-section .blogs-settings form .search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.blogs-section .blogs-settings form .search input:hover {
  border-color: var(--color_black_10);
  background-color: rgba(16, 16, 16, 0.0509803922);
}
.blogs-section .blogs-settings form .search input:focus {
  border-color: rgba(16, 16, 16, 0.5019607843);
}
.blogs-section .blogs-settings form .search .clear-button {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.blogs-section .blogs-settings form .search .clear-button svg {
  width: 20px;
  height: 20px;
}
.blogs-section .blogs-settings form .search .clear-button path {
  fill: rgba(16, 16, 16, 0.5019607843);
}
.blogs-section .blogs-sort {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  margin-bottom: 32px;
}
.blogs-section .blogs-sort input[type=radio] {
  display: none;
}
.blogs-section .blogs-sort input[type=radio]:checked + label {
  font-weight: 500;
  color: var(--color_black);
}
.blogs-section .blogs-sort input[type=radio]:focus-visible + label {
  outline: 1px solid var(--color_green_500);
}
.blogs-section .blogs-sort label {
  color: rgba(16, 16, 16, 0.8980392157);
  transition: var(--trans);
  position: relative;
  width: fit-content;
  border-radius: 8px;
  outline-offset: 2px;
  cursor: pointer;
}
.blogs-section .blogs-sort label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #101010;
  transition: width 0.35s;
}
.blogs-section .blogs-sort label:hover::before, .blogs-section .blogs-sort label:active::before {
  width: 100%;
}
.blogs-section .blogs-sort label:active {
  transform: scale(0.9);
}
.blogs-section .blogs-sort label:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.blogs-section .blogs-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.blogs-section .blogs-filter input[type=checkbox] {
  display: none;
}
.blogs-section .blogs-filter input[type=checkbox]:checked + label {
  background-color: var(--color_black);
  color: var(--color_white);
}
.blogs-section .blogs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 10px;
  justify-content: center;
  margin-bottom: 40px;
}
.blogs-section .blogs-paginations {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
}
.blogs-section .blogs-paginations button {
  width: 40px;
  height: 40px;
}

@media (max-width: 1015px) {
  .news-section .news-block {
    flex-direction: column;
    height: fit-content;
  }
  .news-section .news-block-photo, .news-section .news-block-info {
    flex: auto;
  }
  .news-section .news-block-photo {
    height: 279px;
  }
}
@media (max-width: 800px) {
  .news-section {
    padding: 114px 0 20px;
  }
  .blogs-section {
    padding: 20px 0;
  }
  .blogs-section .blogs-container {
    flex-direction: column;
  }
  .blogs-section .blogs-container .left {
    width: 100%;
    max-width: none;
  }
  .blogs-section .blogs-container .right {
    padding-left: 0;
  }
  .blogs-section .blogs-container .line-vertical {
    display: none;
  }
  .blogs-section .blogs-settings {
    padding-right: 0;
    position: relative;
  }
  .blogs-section .blogs-settings-top button {
    display: inline-flex;
  }
  .blogs-section .blogs-tabs {
    background-color: var(--color_pure_400);
    border-radius: 20px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.0509803922);
    position: absolute;
    z-index: 10;
    top: calc(100% + 10px);
    overflow: hidden;
    max-height: 0;
    transition: var(--trans);
  }
  .blogs-section .blogs-tabs.open {
    max-height: 315px;
  }
  .blogs-section .blogs-sort {
    padding-bottom: 20px;
    margin: 20px;
  }
  .blogs-section .blogs-filter {
    padding: 20px;
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  .news-section .news-title {
    margin-bottom: 20px;
  }
  .news-section h1 {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
  }
  .news-section .news-block-info-container {
    padding: 28px;
  }
  .blogs-section .blogs-list {
    gap: 16px;
    margin-bottom: 32px;
  }
}
@media (max-width: 415px) {
  .news-section .news-block-info-top {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}