.checkout-section {
  padding: 124px 0 40px;
}
.checkout-section h4 {
  margin-bottom: 24px;
  color: var(--color_black);
}
.checkout-section .checkout-content {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.checkout-section .checkout-content .left {
  flex: 1;
  max-width: 873px;
  min-width: 460px;
}
.checkout-section .checkout-content .left .input-box {
  min-width: 250px;
}
.checkout-section .checkout-content .right {
  width: 447px;
}
.checkout-section .checkout-content h5, .checkout-section .checkout-content legend {
  margin-bottom: 16px;
  color: var(--color_black);
}
.checkout-section .checkout-content fieldset {
  border: none;
}
.checkout-section .checkout-content fieldset:not(:last-child) {
  margin-bottom: 28px;
}
.checkout-section .checkout-content .inputs {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.checkout-section .checkout-content .inputs:not(:last-child) {
  margin-bottom: 16px;
}
.checkout-section .checkout-content .inputs .input-box {
  flex: 1;
}
.checkout-section .checkout-content .checkout-checkboxes {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.checkout-section .checkout-content .checkout-order {
  border: 1px solid var(--color_black_10);
  border-radius: 20px;
  margin-bottom: 16px;
}
.checkout-section .checkout-content .checkout-order-summary {
  padding: 20px;
  border-bottom: 1px solid #E9EDF3;
}
.checkout-section .checkout-content .checkout-order-summary > p {
  margin-bottom: 20px;
  color: rgba(7, 14, 26, 0.6980392157);
}
.checkout-section .checkout-content .checkout-order-subtotal {
  padding: 24px 20px;
  border-bottom: 1px solid #E9EDF3;
  display: flex;
  justify-content: space-between;
  color: #070E1A;
}
.checkout-section .checkout-content .checkout-order-subtotal p:first-child {
  color: rgba(7, 14, 26, 0.6980392157);
}
.checkout-section .checkout-content .checkout-order-total {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  color: #070E1A;
}
.checkout-section .checkout-content .checkout-payment {
  border: 1px solid var(--color_black_10);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 16px;
}
.checkout-section .checkout-content .checkout-payment > .input-box {
  margin-bottom: 20px;
}
.checkout-section .checkout-content .buttons2 {
  gap: 10px;
}
.checkout-section .checkout-content .buttons2 button, .checkout-section .checkout-content .buttons2 a {
  flex: 1;
}
.checkout-section .order-item {
  display: flex;
  gap: 16px;
}
.checkout-section .order-item:not(:last-child) {
  margin-bottom: 20px;
}
.checkout-section .order-item-photo {
  width: 72px;
  height: 72px;
  background-color: #E5E5E5;
  border-radius: 12px;
}
.checkout-section .order-item-info {
  flex: 1;
  color: #070E1A;
}
.checkout-section .order-item-info-title {
  margin-bottom: 8px;
}
.checkout-section .order-item-info .grey-text {
  margin-bottom: 2px;
  color: rgba(7, 14, 26, 0.5019607843);
}
.checkout-section .order-item-right {
  width: 104px;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #000;
}

.toggle {
  position: relative;
  display: inline-flex;
  border: 1px solid rgba(16, 16, 16, 0.2);
  border-radius: 22px;
  overflow: hidden;
  padding: 4px;
  gap: 4px;
  width: 100%;
  margin-bottom: 20px;
}
.toggle input {
  display: none;
}
.toggle label {
  padding: 8px 16px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  flex: 1;
  text-align: center;
  transition: var(--trans);
  color: rgba(16, 16, 16, 0.8980392157);
  border-radius: 18px;
  outline-offset: 2px;
  align-content: center;
}
.toggle label:hover, .toggle label:active {
  background-color: var(--color_black_10);
  color: var(--color_black);
}
.toggle label:active {
  transform: scale(0.9);
}
.toggle label:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.toggle .slider {
  position: absolute;
  top: 4;
  left: 4;
  width: calc(50% - 6px);
  height: calc(100% - 8px);
  background-color: var(--color_black_10);
  border-radius: 18px;
  z-index: 1;
  transition: var(--trans);
}
.toggle #gpay:checked ~ .slider {
  transform: translateX(calc(100% + 4px));
}
.toggle #card:checked + label,
.toggle #gpay:checked + label {
  color: var(--color_black);
}

@media (max-width: 987px) {
  .checkout-section .checkout-content .right {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .checkout-section {
    padding: 114px 0 20px;
  }
}
@media (max-width: 500px) {
  .checkout-section .checkout-content .left {
    min-width: 0;
  }
  .checkout-section .order-item-right {
    width: fit-content;
  }
}