@import url(../css/base.css);
@import url(../css/fonts.css);

:root {
  --trans: all 0.3s ease-out;
  --color_black: #101010;
  --color_black_10: #1010101A;
  --color_white: #FFFFFF;
  --color_green_400: #0C998C;
  --color_green_500: #0A8075;
  --color_pure_400: #FFEDDE;
  --color_pure_500: #E5D5C8;
  --color_red_400: #FF6F61;
  --color_red_500: #E56457;
}

// header-----------------------------------------------------------------------------
.header {
  position: fixed;
  top: 20px;
  z-index: 100;
  width: 100%;

  &-container {
      box-shadow: 0px 2px 6px 0px #0000000D;
      background-color: #fff;
      border-radius: 32px;
      margin: 0px 40px;
  }

  &-info { 
      padding: 12px;
      padding-left: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  &-left {
      display: flex;
      gap: 8px;
      align-items: center;

      .logo {
          padding-right: 16px;
      }

      .header-line {
      width: 1px;
      height: 20px; 
      background-color: var(--colours-neutrals-black-100, #1010101A)
      }
  }

  &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
  }

  nav {
      display: flex;
      gap: 8px;
      align-items: center;

      .header-list {
      display: flex;
      align-items: center;
  }
  }

  &-item {
      padding: 10px 16px;
      &:has(.header-link:focus-visible) {
          
          outline: 1px solid #0A8075;
          border-radius: 22px;
      }
  }

  &-cart-count {
      color:  #10101080;
      font-size: 12.6px;

  }
}

.header-link {
  color: #101010;
  position: relative;
  display: inline-flex;
  gap: 4px;

      &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: #101010;
          transition: width 0.35s;
      }
      &:hover::before, &.selected::before {
          width: 100%;
      }

      &:active::before {
          width: 100%;
          transform: scale(0.9);
      }

      &:focus-visible {
          outline: none;
      }
  }

.burger-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #101010;
  border-radius: 20px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

  div {
  width: 14px;
  height: 1px;
  background-color: #101010;
  transition: all 0.3s ease;
  }

  &.active .line1 {
      transform: rotate(-45deg) translate(-3.4px, 4.3px);
  }
  &.active .line2 {
      opacity: 0;
  }
  &.active .line3 {
      transform: rotate(45deg) translate(-2.8px, -3.5px);
  }
}

.burger-menu {
  max-height: 0;
  overflow: hidden;
  transition: var(--trans);

  .burger-container {
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-line {
      width: 100%;
      height: 1px;
      background-color: #1010101A;
  }

  &.active {
      max-height: 280px;
  }
}

@media (max-width: 1019px) {
  .burger-icon {
      display: flex;
  }

  .header {
      top: 10px;

      &-container {
          margin: 0 10px;
      }

      &-left .header-line, nav {
          display: none;
      }
  }
}

.header-dropdown {
  position: fixed;
  top: 94px;
  left: 40px;;
  z-index: 100;
  width: 625px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s ease-out 0.2s;

  &-container {
    padding: 8px;
    display: flex;
    gap: 8px;
    background-color: var(--color_white);
    border-radius: 28px;
  }

  &-item {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
    transition: var(--trans);

    &:hover, &:active {
      .header-dropdown-item-info {
        background-color: var(--color_pure_500);
      }
    }

    &:active {
      transform: scale(0.9);
    }

    &:focus-visible {
      outline: 1px solid var(--color_green_500);
    }

    &-photo {
      height: 94px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      padding: 4px;
      padding-left: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color_pure_400);
      transition: var(--trans);

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        color: var(--color_black);
      }
    }
  }
}

.header-container:has(.services-link:hover) ~ .header-dropdown,
.header-dropdown:hover {
  max-height: 160px;
}

.backet {
  border: none;
  cursor: pointer;
  background: transparent;

  .mob {
    display: none;
  }
}

.backet_main {
  display: none;
}

.h__right a,
.backet {
  display: flex;
  align-items: center;
  justify-content: center;

  svg path {
    transition: var(--trans);
  }

  svg circle {
    transition: var(--trans);
  }

  &:hover svg path {
    fill: #d1c1a8;
    stroke: #d1c1a8;
  }

  &:hover svg circle {
    fill: #d1c1a8;
    stroke: #d1c1a8;
  }
}



@media (max-width: 1150px) {

  .backet {
    .mob {
      display: block;
    }

    .desk {
      display: none;
    }
  }
}

.hero-section {
  display: flex;
  gap: 10px;
  padding: 10px;

  .left, .right {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    height: 800px;
  }

  .left img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .right {
    background-color: var(--color_pure_400);
  }

  .hero-info {
    padding-top: 140px;
    max-width: 550px;

    .hero-title {
      color: var(--color_green_500);
      margin-bottom: 24px;
    }

    h1 {
      margin-bottom: 20px;
      color: var(--color_black);
    }

    .hero-text {
      margin-bottom: 32px;
      color: var(--color_black);
      max-width: 445px;
    }
  }
}

.buttons2 {
  display: flex;
  gap: 8px;
}

.point-section {
  padding: 100px 0;

  h2{
    margin-bottom: 60px;
    text-align: center;
  }

  .point-block {
    width: 100%;
    border-radius: 20px;
    display: flex;
    overflow: hidden;

    &.reverse {
      flex-direction: row-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    .left, .right {
      flex: 1;
    }

    .left {
      background-color: var(--color_pure_400);
    }

    .point-container {
      padding: 40px;
    }

    .point-info {
      >p {
        margin-bottom: 24px;
        color: var(--color_green_500);
      }

      h3 {
        color: var(--color_black);
      }
    }

    .point-text {
      color: var(--color_black);
      margin-top: 40px;
      max-width: 467px;

      p:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    .right img{
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.small-advantages {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 138px;

  &-item {
    display: flex;
    gap: 8px;
    padding: 10px;
    padding-right: 16px;
    align-items: center;
    background-color: var(--color_white);
    border-radius: 22px;
    width: fit-content;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.break {
  display: none;
}

.services-section {
  padding: 100px 0; 
  background-color: var(--color_green_500);

  .services-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    h2 {
      color: var(--color_white);
    }
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

.gen-card {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  width: 446.67px;
  background-color: var(--color_pure_400);
  transition: var(--trans);

  &:nth-child(even) {
    background-color: var(--color_red_400);

    &:hover, &:active {
      background-color: var(--color_red_500);
    }
  }

  &-head {
    height: 311px;
    width: 100%;
    position: relative;

    button {
      position: absolute;
      top: 20px;
      right: 19.67px;
    }
  }

  &-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-info {
    padding: 28px;
    color: var(--color_black);

    h4 {
      margin-bottom: 20px;
    }
  }

  &:hover, &:active {
    background-color: var(--color_pure_500);
  }

  &:active {
    transform: scale(0.9);
  }
  
  &:focus-visible {
    outline: 1px solid var(--color_green_500);
  }
}

.advantages-section {
  padding: 100px 0;
  background-color: var(--color_pure_400);

  .advantages-head {
    margin-bottom: 32px;

    p {
      color: var(--color_green_500);
      margin-bottom: 24px;
    }

    h3 {
      color: var(--color_black);
    }
  }

  .advantages-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .left, .right {
      flex: 1;
    }

    .advantages-item {
      padding-top: 28px;
      display: flex;
      gap: 12px;
      margin-top: 28px;
      border-top: 1px solid #10101033;

      img {
        width: 24px;
        height: 24px;
        align-self: flex-start;
      }

      &-text {
        color: var(--color_black);
        max-width: 500px;

        h4 {
          margin-bottom: 12px;
        }
      }
    }
  }
}

.bestsellers-section {
  padding: 100px 0;
  
  .bestsellers-head {
    margin-bottom: 60px;
    color: var(--color_black);

    h2 {
      margin-bottom: 24px;
    }
  }

  .bestsellers-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(332.5px, 1fr));
    grid-auto-rows: 296px;
    gap: 10px;

    .bestsellers-card {
      border-radius: 20px;
      background-color: var(--color_green_400);
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: var(--trans);

      &:not(.big) {
        height: 296px;
      }
      
      &.big {
        grid-column: span 2;
        grid-row: span 2;
        justify-content: space-between;
        background-color: var(--color_red_400);

        &:hover, &:active {
          background-color: var(--color_red_500);
        }
      }

      &-head {
        height: 458px;
        width: 100%;
        overflow: hidden;

        img {
          height: 100%;
          object-position: center;
          object-fit: cover;
        }
      }

      button {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      &-text {
        padding: 28px;
        color: var(--color_white);

        h4 {
          margin-bottom: 20px;
        }
      }

      &:hover, &:active {
        background-color: var(--color_green_500);
      }
    
      &:active {
        transform: scale(0.9);
      }
      
      &:focus-visible {
        outline: 1px solid var(--color_green_500);
      }
    }
  }
}

.reviews-section {
  background-color: var(--color_pure_400);

  .swiper {
    padding: 100px 0;

    &-wrapper {
      width: 100%;
      margin-left: 40px;
    }

    &-slide {
      width: 447px;
    }

    &-button-prev, &-button-next {
      position: unset;
      width: fit-content;
      margin-top: 0;

      &::after {
        content: none;
      }
    }
  }

  .reviews-head {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    h2 {
      color: var(--color_black);
    }
  }
}

.review-card {
  background-color: var(--color_white);
  border-radius: 20px;
  overflow: hidden;
  padding: 28px;

  &-user {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 56px;

    img {
      width: 52px;
      height: 52px;
      border-radius: 50%;
    }

    &-info {
      h6 {
        color: var(--color_black);
        margin-bottom: 4px;
      }

      p {
        color: var(--color_green_400);
      }
    }
  }

  &-text {
    color: var(--color_black);
  }
}

.cta-section {
  background-color: var(--color_pure_400);
  padding: 10px;

  .cta {
    padding: 136px 40px;
    border-radius: 20px;
    background-color: var(--color_red_400);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color_white);
    text-align: center;

    p {
      margin-bottom: 16px;
    }

    h2 {
      max-width: 420px;
      margin-bottom: 24px;
    }
  }
}

.faq-section {
  padding: 100px 0;

  .faq-container {
    display: flex;
    gap: 32px;
    justify-content: space-between;

    .left, .right {
      flex: 1;
    }

    .left {
      p {
        margin-bottom: 24px;
        color: var(--color_green_500);
      }

      h2 {
        color: var(--color_black);
      }
    }

    .faq-item {
      padding: 28px 0;
      border-bottom: 1px solid #10101033;
      color: var(--color_black);
      transition: var(--color_black);
      overflow: hidden;

      &-header {
        input {
          display: none;
        }

        label {
          display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        svg {
          transition: var(--trans);
        }
        }

        @for $i from 1 through 6 {
          &:has(#drop#{$i}:checked) {
            svg {
              transform: rotate(180deg);
            }

            & ~ #content#{$i} {
              max-height: 90px;
            }
          }
          
        }
      }

      &-info {
        max-height: 0;
        overflow: hidden;
        margin-right: 60px;
        transition: var(--trans);

        p {
          padding-top: 12px;
        }
      }
    }
  }
}

.pack-card {
  max-width: 447px;
  min-width: 320px;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
  position: relative;

  &-photo {
      height: 276px;
      width: 100%;
      background-color: #1010101A;

      img {
          height: 100%;
          object-fit: cover;
      }
  }

  &-info {
      background-color: var(--color_pure_400);
      padding: 28px;

      h4 {
          margin-bottom: 25px;
      }

      .quantity-controls {
          display: inline-flex;
          align-items: center;
          border-radius: 99px;
          padding: 4px;
          gap: 8px;
          border: 1px solid #1010101A;
          margin-bottom: 25px;

          .quantity {
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              letter-spacing: -1%;
              text-align: center;
          }
      }

      &-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      &-price {
          display: flex;
          align-items: center;
          gap: 4px;

          .cross {
              color: #10101080;
              text-decoration: line-through;
          }
      }
  }

  &-sale {
      background-color: var(--color_red_400);
      padding: 2px 8px;
      color: var(--color_white);
      position: absolute;
      top: 28px;
      left: 28px;
      border-radius: 99px;
  }
}

@media (max-width: 1160px) {
  .advantages-item {
    height: 150px;
  }
}

@media (max-width: 900px) {
  .faq-section {
    .faq-container {
      flex-direction: column;
    }
  }
}

@media (max-width: 800px) {
  .hero-section {
    flex-direction: column-reverse;

    .right, .left {
      flex: auto;
    }
  }

  .point-section {
    padding: 80px 0;

    .point-block {
      flex-direction: column !important;
    }
  }

  .services-section {
    padding: 80px 0;
  }

  .advantages-section {
    padding: 80px 0;
    
    .advantages-info {
      flex-direction: column;

      .advantages-item {
        height: unset;
      }
    }
  }

  .bestsellers-section {
    padding: 80px 0;
  }

  .swiper {
    padding: 80px 0;
  }

  .faq-section {
    padding: 80px 0;
  }
}

@media (max-width: 715px) {
  .bestsellers-section {
    .bestsellers-info {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
  
      .bestsellers-card.big {
        grid-column: span 1;
        grid-row: span 1;
        height: 484px;
  
        .bestsellers-card-head {
          min-height: 300px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero-section {
    .left {
      height: 355px;
    }

    .right {
      height: 544px;

      .hero-info {
        padding-bottom: 20px;
        padding-top: 104px;
      }

      .hero-title {
        max-width: 227px;
      }

      h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1px;
      }
    }
  }

  .point-section {
    h2 {
      margin-bottom: 32px;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.75px;
    }

    .point-block {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .point-container {
        padding: 40px 20px;
      }
      .point-info {
        >p {
          margin-bottom: 20px;
          max-width: 235px;
        }
  
        h3 {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: -0.75px;
        }
      }

      .point-text {
        margin-top: 32px;
      }

      .small-advantages {
        margin-top: 60px;
      }
    }
  }

  .break {
    display: inline;
  }

  .services-section {
    .services-head {
      margin-bottom: 32px;

      h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.75px;
      }
    }
  }

  .advantages-section {
    .advantages-head {
      margin-bottom: 4px;

      p {
        margin-bottom: 20px;
      }

      h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.75px;
      }
    }

    .advantages-item {
      &-text {
        h4 {
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: -0.25px;
        }
      }
    }
  }

  .bestsellers-section {
    .bestsellers-head {
      margin-bottom: 32px;

      h2 {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.75px;
      }
    }
  }

  .reviews-section {
    .reviews-head {
      margin-bottom: 32px;

      h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.75px;
      }
    }

    .swiper-slide {
      width: calc(100% - 40px);
    }

    .swiper-wrapper {
      margin-left: 20px;
    }
  }

  .review-card {
    max-width: 447px;
  }

  .cta {
    padding: 152px 20px;
     
    h2 {
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1px;
      max-width: 289px;
    }
  }

  .faq-section {
    .faq-container {
      .left {
        p {
          margin-bottom: 20px;
        }

        h2 {
          font-weight: 400;
          font-size: 32px;
          line-height: 38px;
          letter-spacing: -0.75px;
        }
      }

      .faq-item {
        padding: 20px 0;

        &-header {
          label {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.15px;
          }

          @for $i from 1 through 6 {
            &:has(#drop#{$i}:checked) {  
              & ~ #content#{$i} {
                max-height: 156px;
              }
            }            
          }
        }
      }
    }
  }
}

.footer {
  background-color: var(--color_pure_400);
  padding: 100px 40px 20px;

  &-top {
    margin-bottom: 140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 20px;

    .logo img {
      height: 40px;
      margin-bottom: 20px;
    }
  }

  &-address {
    color: #10101080;
    margin-bottom: 40px;
  }

  h6 {
    color: var(--color_black);
    margin-bottom: 16px;
  }

  &-social {
    display: flex;
    gap: 4px;
  }

  &-links {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 36px 10px;

    &-item {
      width: 140px;

      a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.15px;
        color: #10101080;
        display: block;
        margin-bottom: 8px;
        position: relative;
        width: fit-content;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: #10101099;
          transition: width 0.3s;
        }
        &:hover, &.active {
          color: #10101099;

          &::before {
            width: 100%;
          }
        }

        &:active {
          transform: scale(0.9);
        }

        &:focus-visible {
          outline: 1px solid var(--color_green_500);
          border-radius: 8px;
        }
      }
    }
  }

  &-info {
    display: flex;
    gap: 36px 40px;
    justify-content: space-between;
    flex-wrap: wrap;

    .left, .right {
      min-width: 320px;

      p, a {
        color: #10101080;
      }
    }

    .right {
       a {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        position: relative;
        width: fit-content;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: #10101099;
          transition: width 0.3s;
        }
        &:hover, &.active {
          color: #10101099;

          &::before {
            width: 100%;
          }
        }

        &:active {
          transform: scale(0.9);
        }

        &:focus-visible {
          outline: 1px solid var(--color_green_500);
          border-radius: 8px;
        }

        svg {
          margin-right: 8px;
          width: 24px;
          height: 24px;
        }
       }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid #10101033;
    color: #10101080;
    flex-wrap: wrap-reverse;
    gap: 10px;
  }

  &-privacy {
    display: flex;
    gap: 45px;
  }

  .text-label-small {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.25px;
    color: #10101080;
    position: relative;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #10101099;
      transition: width 0.3s;
    }
    &:hover, &.active {
      color: #10101099;

      &::before {
        width: 100%;
      }
    }

    &:active {
      transform: scale(0.9);
    }

    &:focus-visible {
      outline: 1px solid var(--color_green_500);
      border-radius: 8px;
    }
  }
}


@media (max-width: 800px) {
  .footer {
    padding: 80px 20px 20px;

    &-links  {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    &-top {
      margin-bottom: 20px;
    }

    &-info {
      .right, .left {
        min-width: 100%;
      }
    }

    &-bottom {
      padding-top: 17px;
    }

    &-privacy {
      gap: 12px;
    }
  }
}