.types-section {
    padding: 100px 0;
    background-color: var(--color_pure_400);

    h2 {
        margin-bottom: 60px;
        color: var(--color_black);
    }

    .types-item {
        padding-top: 28px;
        margin-top: 36px;
        border-top: 1px solid #10101033;
        display: flex;
        gap: 10px;
        width: 100%;
      
        &-photo {
          flex: 2 1 0; 
          display: flex;
          gap: 10px;
      
          .photo {
            flex: 1 1 0;
            height: 500px;

            img {
            object-fit: cover; 
            height: 100%;
            border-radius: 20px;
            }
          }
        }
      
        &-info {
          flex: 1 1 0; 
          height: 500px;
          padding: 0 28px;
          max-width: calc((100% - 20px) / 3);
          min-width: 300px;

          &-title {
            margin-bottom: 24px;
            color: var(--color_green_500);
          }

          h3 {
            margin-bottom: 12px;
          }
        }
    } 
}

.advice-section {
    padding: 100px 0;
    background-color: var(--color_green_500);
    color: var(--color_white);

    .advice-title {
        margin-bottom: 24px;
        color: var(--color_pure_400);
    }

    h2 {
        margin-bottom: 60px;
        max-width: 890px;
    }

    .advice-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;

        .advice-table {
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        table {
            width: 904px;
            border-collapse: collapse;
            border: 1px solid #FFFFFF0D;
            text-align: left;
            border-radius: 12px;
            display: block;
            overflow: hidden;

            td, th {
                padding: 8px 12px;
                border: 1px solid #FFFFFF0D;
                white-space: nowrap;
            }

            td {      
                overflow: hidden;       
                text-overflow: ellipsis;   
                max-width: 336px;
                width: 336px;
            }
              

            thead {
                background-color: #FFFFFF1A;
            }

            tbody {
                th {
                    background-color: #FFFFFF0D;
                    width: 232px;
                }

                th, td {
                    color: #FFFFFFCC;
                }
            }
        }

        p {
            flex: 1;
            min-width: 320px;
        }
    }
}

.sizes-section {
    padding: 100px 0;

    .sizes-top {
        display: flex;
        margin-bottom: 60px;
        flex-wrap: wrap;
        gap: 20px;

        .sizes-title {
            flex: 1;
            color: var(--color_green_500);
        }
    }

    .sizes-head {
        flex: 2;
        color: var(--color_black);

        h2 {
            margin-bottom: 24px;
        }
    }

    .sizes-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .sizes-item {
        max-width: 447px;
        min-width: 320px;
        border-radius: 20px;
        overflow: hidden;
        flex: 1;

        &-photo {
            width: 100%;
            background-color: #1010101A;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 276px;
        }

        &-info {
            background-color: var(--color_pure_400);
            padding: 28px;

            h4 {
                margin-bottom: 16px;
                color: var(--color_black);
            }

            p {
                color: #10101080;
            }
        }
    }
}

.faq-section {
    background-color: var(--color_pure_400);
}

@media (max-width: 900px) {
    .types-section {
        .types-item {
            flex-direction: column-reverse;

            &-photo {
                flex-direction: column;

                .photo {
                    height: 400px;
                }
            }

            &-info {
                min-width: 100%;
                padding: 0;
            }
        }
    }
}

@media (max-width: 800px) {
    .types-section {
        padding: 80px 0;
    }

    .advice-section {
        padding: 80px 0;
    }

    .sizes-section {
        padding: 80px 0;

        .sizes-top {
            flex-direction: column;
        }
    }
}

@media (max-width: 500px) {
    .types-section {
        h2 {
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: -0.75px;
            margin-bottom: 0;
        }

        .types-item {
            margin-top: 32px;

            &-photo {
                .photo {
                    height: 300px;
                }
            }

            &-info {
                &-title {
                    margin-bottom: 20px;
                }

                h4 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: -0.75px;
                }
            }
        }
    }

    .advice-section {
        .advice-title {
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 32px;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: -0.75px;
        }

        .advice-info {
            table {
                width: fit-content;

                td {
                    &:first-of-type {
                        width: 140px;
                        max-width: 140px;
                    }

                    &:last-of-type {
                        width: 200px;
                        max-width: 200px;
                    }
                }

                thead th {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: -0.25px;
                }

                tbody {
                    th, td {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0%;
                    }

                    th {
                        width: 180px;
                    }
                }
            }
        }
    }

    .sizes-section {
        .sizes-top {
            margin-bottom: 32px;
        }

        .sizes-head {
            h2 {
                font-weight: 400;
                font-size: 32px;
                line-height: 38px;
                letter-spacing: -0.75px;
                margin-bottom: 12px;
            }
        }
    }
}