* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.text-header-large {
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
}

.text-header-medium {
  font-weight: 500;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -2.5px;
}

.text-header-small {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

.text-title-large {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.75px;
}

.text-title-medium {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.25px;
}

.text-title-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.text-body-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.15px;
}

.text-body-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.text-body-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.text-label-large {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.15px;
}

.text-label-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

.black-btn {
  background-color: rgba(16, 16, 16, 0.8980392157);
  color: var(--color_white);
  border: none;
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px 16px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}
.black-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.black-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.black-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.black-btn .btn-icon path {
  fill: var(--color_white);
}
.black-btn:hover, .black-btn:active {
  background-color: var(--color_black);
}

.stroke-b-btn {
  background-color: transparent;
  color: rgba(16, 16, 16, 0.8980392157);
  border: 1px solid rgba(16, 16, 16, 0.8980392157);
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px 16px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}
.stroke-b-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.stroke-b-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.stroke-b-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.stroke-b-btn .btn-icon path {
  fill: rgba(16, 16, 16, 0.8980392157);
}
.stroke-b-btn:hover, .stroke-b-btn:active {
  background-color: var(--color_black_10);
}
.stroke-b-btn:hover, .stroke-b-btn:active, .stroke-b-btn:focus-visible {
  color: var(--color_black);
  border-color: var(--color_black);
}
.stroke-b-btn:hover .btn-icon path, .stroke-b-btn:active .btn-icon path, .stroke-b-btn:focus-visible .btn-icon path {
  fill: var(--color_black);
}

.white-btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8980392157);
  border: 1px solid rgba(255, 255, 255, 0.8980392157);
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px 16px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}
.white-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.white-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.white-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.white-btn .btn-icon path {
  fill: rgba(255, 255, 255, 0.8980392157);
}
.white-btn:hover, .white-btn:active {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.white-btn:hover, .white-btn:active, .white-btn:focus-visible {
  color: var(--color_white);
  border-color: var(--color_white);
}
.white-btn:hover .btn-icon path, .white-btn:active .btn-icon path, .white-btn:focus-visible .btn-icon path {
  fill: var(--color_white);
}

.stroke-g-btn {
  background-color: transparent;
  color: rgba(16, 16, 16, 0.6980392157);
  border: 1px solid var(--color_black_10);
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px 16px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}
.stroke-g-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.stroke-g-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.stroke-g-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.stroke-g-btn .btn-icon path {
  fill: rgba(16, 16, 16, 0.6980392157);
}
.stroke-g-btn:hover, .stroke-g-btn:active {
  background-color: var(--color_black_10);
  border-color: rgba(16, 16, 16, 0.2);
  color: rgba(16, 16, 16, 0.8);
}
.stroke-g-btn:hover .btn-icon path, .stroke-g-btn:active .btn-icon path {
  fill: rgba(16, 16, 16, 0.8);
}

.green-btn {
  background-color: var(--color_green_400);
  color: var(--color_white);
  border: none;
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px 16px;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}
.green-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.green-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.green-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.green-btn:disabled {
  background-color: rgba(16, 16, 16, 0.2);
  color: rgba(16, 16, 16, 0.3019607843);
}
.green-btn:disabled .btn-icon path {
  fill: rgba(16, 16, 16, 0.3019607843);
}
.green-btn .btn-icon path {
  fill: var(--color_white);
}
.green-btn:hover, .green-btn:active {
  background-color: var(--color_green_500);
}

.gray-btn {
  background-color: var(--color_black_10);
  padding: 8px;
  border-radius: 20px;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  cursor: pointer;
}
.gray-btn .btn-icon {
  height: 20px;
  width: 20px;
}
.gray-btn .btn-icon path {
  fill: var(--color_black);
}
.gray-btn:hover {
  background-color: rgba(16, 16, 16, 0.2);
}
.gray-btn:active {
  background-color: rgba(16, 16, 16, 0.2);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.gray-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}

.input-box label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.25px;
  color: rgba(16, 16, 16, 0.8);
}
.input-box label .red-text {
  color: var(--color_red_400);
}
.input-box:has(.input.error) label {
  color: var(--color_red_400);
}
.input-box:has(.input.error) .input-error {
  display: block;
}
.input-box .input {
  position: relative;
  margin-top: 8px;
}
.input-box .input.loading .input-progress {
  display: block;
}
.input-box .input.valid .input-valid {
  display: block;
}
.input-box .input input, .input-box .input textarea {
  padding: 10px 16px;
  border: 1px solid rgba(16, 16, 16, 0.2);
  border-radius: 20px;
  color: var(--color_black);
  width: 100%;
  outline: none;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  outline-offset: 2px;
}
.input-box .input input.keyboard-focus, .input-box .input textarea.keyboard-focus {
  outline: 1px solid var(--color_green_500);
}
.input-box .input input::-webkit-input-placeholder, .input-box .input textarea::-webkit-input-placeholder {
  color: rgba(16, 16, 16, 0.5019607843);
}
.input-box .input input::-moz-placeholder, .input-box .input textarea::-moz-placeholder {
  color: rgba(16, 16, 16, 0.5019607843);
}
.input-box .input input:-ms-input-placeholder, .input-box .input textarea:-ms-input-placeholder {
  color: rgba(16, 16, 16, 0.5019607843);
}
.input-box .input input::-ms-input-placeholder, .input-box .input textarea::-ms-input-placeholder {
  color: rgba(16, 16, 16, 0.5019607843);
}
.input-box .input input::placeholder, .input-box .input textarea::placeholder {
  color: rgba(16, 16, 16, 0.5019607843);
}
.input-box .input input:hover, .input-box .input textarea:hover {
  border-color: rgba(16, 16, 16, 0.2);
  background-color: rgba(16, 16, 16, 0.0509803922);
}
.input-box .input input:focus, .input-box .input textarea:focus {
  border-color: rgba(16, 16, 16, 0.5019607843);
  background-color: rgba(16, 16, 16, 0.0509803922);
}
.input-box .input input {
  height: 40px;
}
.input-box .input textarea {
  max-width: 873px;
  resize: none;
  height: 60px;
}
.input-box .input button, .input-box .input > svg {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 10px;
  display: none;
  background: none;
  border: none;
}
.input-box .input button.input-clear, .input-box .input > svg.input-clear {
  cursor: pointer;
}
.input-box .input button.input-clear svg, .input-box .input > svg.input-clear svg {
  width: 20px;
  height: 20px;
}
.input-box .input button.input-clear path, .input-box .input > svg.input-clear path {
  fill: var(--color_black);
}
.input-box .input button.input-progress path, .input-box .input > svg.input-progress path {
  fill: var(--color_black);
}
.input-box .input button.input-valid path, .input-box .input > svg.input-valid path {
  fill: var(--color_green_500);
}
.input-box .input button.input-error path, .input-box .input > svg.input-error path {
  fill: var(--color_red_400);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(16, 16, 16, 0.8980392157);
  -webkit-transition: var(--trans);
  transition: var(--trans);
  gap: 12px;
  border-radius: 22px;
  height: 36px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.checkbox input {
  display: none;
}
.checkbox input:checked:hover + .checkmark, .checkbox input:checked:active + .checkmark {
  background-color: var(--color_green_500);
}
.checkbox input:checked + .checkmark {
  border: none;
  background-color: var(--color_green_400);
}
.checkbox input:checked + .checkmark svg {
  opacity: 1;
}
.checkbox .checkmark {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(16, 16, 16, 0.5019607843);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.checkbox .checkmark svg {
  opacity: 0;
}
.checkbox:hover, .checkbox:active {
  color: var(--color_black);
}
.checkbox:hover .checkmark, .checkbox:active .checkmark {
  border-color: var(--color_black);
}
.checkbox:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.checkbox:focus-visible {
  outline: 1px solid var(--color_green_500);
}

@media (max-width: 1050px) {
  .container {
    padding: 0 20px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 0.0509803922);
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 16, 16, 0.8980392157);
  border-radius: 6px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color_black);
}