* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.text-header-large {
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
}

.text-header-medium {
  font-weight: 500;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -2.5px;
}

.text-header-small {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
}

.text-title-large {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.75px;
}

.text-title-medium {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.25px;
}

.text-title-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.text-body-large {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.15px;
}

.text-body-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.text-body-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
}

.text-label-large {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.15px;
}

.text-label-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
}

.black-btn {
  background-color: rgba(16, 16, 16, 0.8980392157);
  color: var(--color_white);
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  transition: var(--trans);
  height: -moz-fit-content;
  height: fit-content;
}
.black-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.black-btn:active {
  transform: scale(0.9);
}
.black-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.black-btn .btn-icon path {
  fill: var(--color_white);
}
.black-btn:hover, .black-btn:active {
  background-color: var(--color_black);
}

.stroke-b-btn {
  background-color: transparent;
  color: rgba(16, 16, 16, 0.8980392157);
  border: 1px solid rgba(16, 16, 16, 0.8980392157);
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  transition: var(--trans);
  height: -moz-fit-content;
  height: fit-content;
}
.stroke-b-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.stroke-b-btn:active {
  transform: scale(0.9);
}
.stroke-b-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.stroke-b-btn .btn-icon path {
  fill: rgba(16, 16, 16, 0.8980392157);
}
.stroke-b-btn:hover, .stroke-b-btn:active {
  background-color: var(--color_black_10);
}
.stroke-b-btn:hover, .stroke-b-btn:active, .stroke-b-btn:focus-visible {
  color: var(--color_black);
  border-color: var(--color_black);
}
.stroke-b-btn:hover .btn-icon path, .stroke-b-btn:active .btn-icon path, .stroke-b-btn:focus-visible .btn-icon path {
  fill: var(--color_black);
}

.white-btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8980392157);
  border: 1px solid rgba(255, 255, 255, 0.8980392157);
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  transition: var(--trans);
  height: -moz-fit-content;
  height: fit-content;
}
.white-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.white-btn:active {
  transform: scale(0.9);
}
.white-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.white-btn .btn-icon path {
  fill: rgba(255, 255, 255, 0.8980392157);
}
.white-btn:hover, .white-btn:active {
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.white-btn:hover, .white-btn:active, .white-btn:focus-visible {
  color: var(--color_white);
  border-color: var(--color_white);
}
.white-btn:hover .btn-icon path, .white-btn:active .btn-icon path, .white-btn:focus-visible .btn-icon path {
  fill: var(--color_white);
}

.stroke-g-btn {
  background-color: transparent;
  color: rgba(16, 16, 16, 0.6980392157);
  border: 1px solid var(--color_black_10);
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  transition: var(--trans);
  height: -moz-fit-content;
  height: fit-content;
}
.stroke-g-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.stroke-g-btn:active {
  transform: scale(0.9);
}
.stroke-g-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.stroke-g-btn .btn-icon path {
  fill: rgba(16, 16, 16, 0.6980392157);
}
.stroke-g-btn:hover, .stroke-g-btn:active {
  background-color: var(--color_black_10);
  border-color: rgba(16, 16, 16, 0.2);
  color: rgba(16, 16, 16, 0.8);
}
.stroke-g-btn:hover .btn-icon path, .stroke-g-btn:active .btn-icon path {
  fill: rgba(16, 16, 16, 0.8);
}

.green-btn {
  background-color: var(--color_green_400);
  color: var(--color_white);
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  transition: var(--trans);
  height: -moz-fit-content;
  height: fit-content;
}
.green-btn .btn-icon {
  height: 20px;
  width: 20px;
  margin: 0 -6px;
}
.green-btn:active {
  transform: scale(0.9);
}
.green-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}
.green-btn .btn-icon path {
  fill: var(--color_white);
}
.green-btn:hover, .green-btn:active {
  background-color: var(--color_green_500);
}

.gray-btn {
  background-color: var(--color_black_10);
  padding: 10px;
  border-radius: 20px;
}
.gray-btn .btn-icon {
  height: 20px;
  width: 20px;
}
.gray-btn .btn-icon path {
  fill: var(--color_black);
}
.gray-btn:hover {
  background-color: rgba(16, 16, 16, 0.2);
}
.gray-btn:active {
  background-color: rgba(16, 16, 16, 0.2);
  transform: scale(0.9);
}
.gray-btn:focus-visible {
  outline: 1px solid var(--color_green_500);
}

@media (max-width: 1050px) {
  .container {
    padding: 0 20px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ece5db;
}

::-webkit-scrollbar-thumb {
  background: #4d3e31;
  border-radius: 6px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #453526;
}/*# sourceMappingURL=base.css.map */